body {
    background-image: url();
    background-repeat: repeat;
    background-color: lightskyblue;
  }

h1 {
  float: right;
  position: relative;
  right: 50%;
  text-align: center;
  background-color: mediumturquoise;
  padding: 20px; 
  margin-bottom: 50000px;
  }

#Instructions {
  float: right;
  right: 12%;
  position: relative;
  text-align: center;
  background-color: mediumturquoise;
  padding: 50px; 
  width: 960px;
}  

.buttons {
  float: right;
  position: relative;
}

#userscore {
  position: relative;
  float: right;
  padding: 50px;
  background-color: mediumvioletred;
  font-size: 50px;
}

#num {
  position: relative;
  float: right;
  padding: 50px;
  background-color: mediumvioletred;
  font-size: 50px;
}

#wins {
  position: relative;
  float: left;
  padding: 50px;
  background-color: mediumvioletred;
  font-size: 50px;
}

#losses {
  position: relative;
  float: left;
  padding: 50px;
  background-color: mediumvioletred;
  font-size: 50px;
}
